@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 220 13% 95%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 220 13% 95%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 210 27% 30%;
    --primary-foreground: 34, 100%, 97%;

    --secondary: 220 14% 90%;
    --secondary-foreground: 210 27% 30%;

    --muted: 220 14% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 187 46% 41%;
    --accent-foreground: 34, 100%, 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 210 27% 30%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 23% 11%;
    --foreground: 210 40% 98%;

    --card: 220 23% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 220 23% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 187 46% 61%;
    --primary-foreground: 220 23% 11%;

    --secondary: 220 15% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 15% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210 27% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 15% 18%;
    --input: 220 15% 18%;
    --ring: 187 46% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
