@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 47% 91%;
    --foreground: 226 24% 20%;

    --card: 225 47% 91%;
    --card-foreground: 226 24% 20%;

    --popover: 225 47% 91%;
    --popover-foreground: 226 24% 20%;

    --primary: 226 70% 59%;
    --primary-foreground: 222 100% 95%;

    --secondary: 225 35% 95%;
    --secondary-foreground: 226 24% 20%;
    
    --muted: 225 35% 95%;
    --muted-foreground: 226 10% 45%;
    
    --accent: 265 63% 67%;
    --accent-foreground: 222 100% 95%;
    
    --destructive: 351 88% 68%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 24% 86%;
    --input: 225 24% 86%;
    --ring: 226 70% 59%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 235 16% 13%;
    --foreground: 231 48% 78%;

    --card: 232 23% 16%;
    --card-foreground: 231 48% 78%;

    --popover: 232 23% 16%;
    --popover-foreground: 231 48% 78%;

    --primary: 221 88% 72%;
    --primary-foreground: 235 16% 13%;

    --secondary: 231 23% 19%;
    --secondary-foreground: 231 48% 78%;

    --muted: 231 22% 33%;
    --muted-foreground: 233 13% 54%;

    --accent: 257 86% 79%;
    --accent-foreground: 235 16% 13%;

    --destructive: 350 89% 72%;
    --destructive-foreground: 235 16% 13%;

    --border: 231 23% 19%;
    --input: 231 23% 19%;
    --ring: 221 88% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark body {
    background-image: linear-gradient(to bottom right, #1a1b26, #1f2335);
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-md;
  }
}
